version: "3.8"

services:
  postgres:
    image: postgres:15-alpine
    container_name: ecommerce-db-node
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Jitender@123
      POSTGRES_DB: ecommerce_db
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7
    container_name: ecommerce-redis-node
    ports:
      - "6379:6379"

volumes:
  postgres_data:
